<div class="mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Specialty</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let doctor of doctorDetails">
        <td>{{doctor.doctorFName}}</td>
        <td>{{doctor.doctorLName}}</td>
        <td>{{doctor.phoneNumber}}</td>
        <td>{{doctor.doctorSpecialtyId}}</td>
      </tr>
    </tbody>
  </table>
</div>

