<div class="container d-flex align-items-center">
  <h1  class="logo me-auto"><a href="/home">Wiley Clinic</a></h1>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <!-- .navbar -->
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto" href="/appointment">Appointment</a></li>
      <li><a class="nav-link scrollto" href="/about">About Us</a></li>
      <li><a class="nav-link scrollto" href="/locate">Locate Us</a></li>

      <div *ngIf="auth.isAuthenticated$ | async">
        <li><a class="nav-link scrollto" href="/profile">My Profile</a></li>
      </div>

      <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <li>
          <a class="getstarted scrollto" (click)="auth.logout()">Logout</a>
        </li>
      </div>
      <ng-template #loggedOut>
        <li>
          <a class="getstarted scrollto" (click)="auth.loginWithRedirect({
            appState: { target: '/appointment' }
          })">Login</a>
        </li>
      </ng-template>
    </ul>
  </nav>
  <!-- .navbar -->
</div>

<router-outlet></router-outlet>
